body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:483px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:36px;
  text-align:center;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:129px;
  width:274px;
  height:195px;
  font-size:36px;
  text-align:center;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:76px;
  width:254px;
  word-wrap:break-word;
}
